:root {
    --bg: #FFF5F8;
    --bg-card: #FFFFFF;
    --primary: #FCAEDB; /*#FF6B9D */
    --primary-light: #FFB3CC;
    --primary-dark: #FA70C0;
    --text: #2D2A32;
    --text-muted: #8B8494;
    --border: #F0E4EA;
    --shadow: 0 4px 20px rgba(255, 107, 157, 0.12);
    --shadow-hover: 0 8px 30px rgba(255, 107, 157, 0.2);
    --btn-login: #FFB7B2;
    --btn-signup: #9370DB;
    --sidebar-width: 380px;
    --radius: 16px;
    --radius-sm: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
}

.profil_joueur {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    z-index: 10;
}

.avatar_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #FA70C0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.badge_niveau{
    position: absolute;
    bottom: -5px;
    right: -5px;
    display: flex;
}  

body {
    background-image: url('../images/map.jpg');
    background-size: contain;         /* <-- C'est ICI qu'on règle la taille (ex: contain, 70%, auto 60vh) */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;               /* Doit rester à 100vh pour couvrir tout l'écran */
}

